{% extends "base/base.html" %}

{% block title %}
Crear estadio
{% endblock title %}

{% block content %}
<title>Crear estadio</title>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success">Crear estadio</button>
        <a href="{% url 'core:listaestadio' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}
