{% extends "base/base.html" %}

{% block title %}
Borrar estdio
{% endblock title %}

{% block content %}
<title>Borrar estadio</title>
    <form action="" method="post">
        {% csrf_token %}
        ¿Seguro de borrar: {{ object.Nombre }}?
        <button type="submit" class="btn btn-outline-danger">Borrar estadio</button>
        <a href="{% url 'core:listaestadio' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}
