{% extends "base/base.html" %}

{% block title %}
Actualizar estadio
{% endblock title %}

{% block content %}
<title>Actualizar estadio</title>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-primary">Actualizar estadios</button>
        <a href="{% url 'core:listaestadio' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}
