{% extends "base/base.html" %}
{% block title %}inicio view{% endblock title %}

{%block content%}

<title>Inicio</title>

<center><h1>Ciudades que tiene equipo</h1></center>
    <table class="table table-striped table-hover">
        <thead class="table-danger">
            <th style="color: #353535;">Equipos</th>
            <th style="color: #353535;">Ciudades</th>
        </thead>
        <tbody>
            {% for Equipos in Equipos %}
                <tr>
                    <td>{{ Equipos.Nombre }}</td>
                    <td>{{ Equipos.Ciudad }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
