{% extends 'base/base.html' %}

{% block title %} Lista de ciudades {% endblock title %}

{% block content %}
<title>Lista ciudad</title>

    <a href="{% url 'core:crciudad' %}" class="btn btn-outline-success form-control">Crear nueva ciudad</a>
    <table class="table table-striped table-hover">
        <thead class="table-info">
            <th style="color: #353535;">ID</th>
            <th style="color: #353535;">Nombre</th>
            <th></th>
            <th style="color: #353535;">Acciones</th>
            <th></th>

        </thead>
        <tbody class="able-light">
            {% for Ciudades in Ciudades %}
                <tr>
                    <td>{{ Ciudades.id }}</td>
                    <td>{{ Ciudades.Nombre }}</td>
                    <td><a href="{% url 'core:rciudad' Ciudades.id %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:uciudad' Ciudades.id %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'core:dciudad' Ciudades.id %}" class="btn btn-outline-danger">Borrar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}
