{% extends "base/base.html" %}

{% block title %}
Crear un equipo
{% endblock title %}

{% block content %}
<title>Crear equipo</title>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success">Crear equipo</button>
        <a href="{% url 'core:listaequipo' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}
