{% extends 'base/base.html' %}

{% block title %} Lista de Equipos
{% endblock title %}

{% block content %}
<title>Lista equipos</title>

    <a href="{% url 'core:crequipo' %}" class="btn btn-outline-success form-control">Crear un nuevo equipo</a>
    <table class="table table-striped table-hover">
        <thead class="table-info">
            <th style="color: #353535;">ID</th>
            <th style="color: #353535;">Nombre</th>
            <th></th>
            <th style="color: #353535;">Acciones</th>
            <th></th>

        </thead>
        <tbody>
            {% for Equipos in Equipos %}
                <tr>
                    <td>{{ Equipos.id }}</td>
                    <td>{{ Equipos.Nombre }}</td>
                    <td><a href="{% url 'core:requipo' Equipos.id %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:uequipo' Equipos.id %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'core:dequipo' Equipos.id %}" class="btn btn-outline-danger">Borrar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}
