{% extends "base/base.html" %}

{% block title %}
Detalles del equipo
{% endblock title %}


{% block content %}
<title>Detalles equipo</title>
<h6>Nombre: </h6>{{ object.Nombre }}
<br>
<h6>Ciudad: </h6>{{ object.Ciudad }}
<br>
<h6>Descripción: </h6>{{ object.Descripcion }}
<br>
<h6>Fecha de creación: </h6>
{{ object.fecha }}
<br>
  <a href="{% url 'core:listaequipo' %}">Regresar</a>
{% endblock content %}
